body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    justify-content: center;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 150px;
    background-color: darkorange;
    height: 330px;
    width: 20px;
    color: white;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    height: 330px;
    width: 20px;
    position: absolute;
    top: 150px;
    right: 100px;
    color: white;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(75, 72, 72);
}

.itemcar {
    height: 100px;
    width: 1200px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: cornsilk;
    display: flex;
    align-items: center;
}

.lane {
    font-size: 30px;
    color: rgb(233, 21, 21);
}

.imgcar {
    position: relative;
    width: 90px;
    height: 60px;
}

.btn {
    display: flex;
}

.btn button {
    width: 100px;
    height: 70px;
    background-color: crimson;
    font-weight: bold;
    font-size: 15px;
}